<a href="https://colab.research.google.com/github/FabioxUchiha/gestion_del_conocimiento/blob/main/Taller_python_basico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Taller 

Por favor ejecute los ejercicios solicitados de acuerdo a las instrucciones.

#### Variables 

Cree las siguientes variables:
* Una variable entera de nombre a.
* Una variable flotante de nombre b.
* Una variable booleana de nombre c.
* Una variable de tipo string llamada name.
* Una variable de tipo lista llamada lst.
* Una variable de tipo diccionario llamada dict_var.

In [23]:
# INGRESE SU CÓDIGO AQUÍ
a
b
c = True
name = str
lst = []
dict_var = {}
modulo

0

In [ ]:
## NO MODIFIQUE ESTA CELDA SOLO EJECUTELA PARA COMPROBAR SU RESULTADO

#### Operadores 

Aplique los siguientes operadores a las variables anteriormente definidas:

* Asigne a la variable `a` el valor 5. Luego súmele a la variable el valor 10 y asigne el resultado de esta operación de nuevo a esta variable. Imprima el valor final de la variable. 

* Asígnele a la variable `b` el valor 2.4 y elévelo al cubo, asigne el resultado a la variable `b`. Imprima el valor final de la variable. 

* Imprima el módulo 5 del número 340 e imprímalo.

In [2]:
# INGRESE SU CÓDIGO AQUÍ
a = 5
a += 10
print(a)

b = 2.4
b = b**3
print(b)
modulo = 340 % 5
print("el modulo 5 del numero 340 es: "+str(modulo))

15
13.823999999999998
el modulo 5 del numero 340 es: 0

In [ ]:
# NO MODIFIQUE NI EJECUTE ESTA CELDA ES SOLO PARA CONSULTA DE RESULTADOS

### Selección 

Utilizando las variables anteriores imprima un mensaje que diga "a" si la variable `a` es mayor que la variable `b`, si `a` es menor que `b` por una diferencia inferior a 5 imprima "a,b" sino  imprima "b".

In [3]:
# INGRESE SU CÓDIGO AQUÍ
if a>b:
    print("a")
elif (a-5)<b:
  print("a,b")
else:
  print("b")

a

In [ ]:
# No ejecute esta celda solo usela de guía

a

### Iteración 

* Genere e imprima la lista de los número impares entre 1 y 20. **usando for**
*  Genere e imprima los valores desde de 100 hasta 1 disminuyendo de 10 en 10. **usando while**

In [4]:
# Ingrese su código aquí 
for i in range(1, 20, 2):
  print(i)

print("---------------------------------")

j=100
while True:
  print(j)
  j -= 10
  if j < 10:
    break # continue

1
3
5
7
9
11
13
15
17
19
---------------------------------
100
90
80
70
60
50
40
30
20
10

In [ ]:
# No ejecute esta celda usela como referencia

#### Diccionarios, listas y string

Los primeros traductores se basaban en el uso de diccionarios donde cada palabra en su idioma original era sustituida por su equivalente en el idioma extranjero a través de un diccionario. Usando la función `split` para partir el mensanje en una lista de palabras. Cree un diccionario español-inglés (claves en español, valores equivalentes en inglés); recorra la lista de palabras y sustituya cada una con su equivalente en inglés utilizando el diccionario previamente creado y acumulando las palabras traducidas en una lista. Finalmente convierta la lista de palabras de nuevo a string utilizando la función join de string.

In [ ]:
mensaje_original = "Python es un lenguaje poderoso, sencillo y divertido."
# Introduzca su código aquí.

In [ ]:
# No ejecute esta celda es solo para comprobación

Python is a language powerfull easy and enjoyable

#### Funciones  
Cree una función llamada `mcd` que reciba como parámetros dos eneteros y retorne el máximo común divisor de los dos. Utilice dentro de la función listas, la función max de python y conjuntos para realizar la operación intersección.

In [ ]:
# Ingrese su código aquí

In [ ]:
# No modifique esta celda

3

#### Programación funcional 

Cree una lista con los números de 1 a 200 y use una función filter para quedarse solo con los números primos en la lista. A continuación eleve al cuadrado cada uno de ellos y presente el resultado como una lista.

In [ ]:
# Ingrese su código aquí por favor